.header{
    display: grid;
    grid-template-areas: 
    "header__logo header__title"
    "header__nav header__nav"
    ;

    grid-template-columns: 1fr 1fr auto;
    background-color: antiquewhite;
}
    .header__nav{

     grid-area: "header__nav";
    }

    .header__logo{
        aspect-ratio: 1/1;

        height: 150px;
    }