
*, *::before, *::after
{
    box-sizing: border-box;
}

html , body{

    height: 100%;
    margin: 0;

    font-family: sans-serif;
    font-size: 15px;

    background-color: azure;
}

#root{
  height: 100%;
}
